# URL Webhook n8n untuk menerima data lead
PUBLIC_N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/entercraft-contact

# Site Key Cloudflare Turnstile (Public)
# Gunakan '1x00000000000000000000AA' untuk testing/development lokal (selalu lolos)
PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
